{% extends 'base_generic.html' %}

{% block title %}{{ object.title }}{% endblock %}
{% block meta_description %}{{ object.meta_description }}{% endblock %}
{% block content %}
    <article>
        <h1 class="post-title">{{ object.title }}</h1>
        <div class="post-content">{{ object.content|safe }}</div>
        <p class="published-date">Published on {{ object.published_date }}</p>
        <p class="author">By {{ object.author }}</p>
    </article>
    <a href="{% url 'blogpost_list' %}">Back to list</a>
{% endblock %}
